.card{
    width: 800px;
    height: 500px;
    position: relative;
    left: 200px;
   
}



.easy{
    color: #a9a2a2;
}
.questionCard{
    width: 200px;
    height: 75px;
    border-radius: 10px;
    background-color: lightgray;
}

.row{
    position: relative;
    right: 200px;
   
}

#questionCard{
    border: none;
}

#nextQuestion{
    position: relative;
    top: 15px;
    left: 240px;
}

.correct{
    color: green;
    position: relative;
    top: 10px;
    margin-left: 32%;
}

.incorrect{
    color: red;
    position: relative;
    top: 10px;
    margin-left: 32%;
}


.result{
    color: green;
    margin-left: 35%;
}



.btnPosition{
    position: relative;
    top: 265px;
    left: 125px;
    margin-left: 105px;
}

.errorMsg{
    text-align: center;
    color: red;
}

#backToHmeBtn{
    position: relative;
    top: 15px;
    left: 300px;
}